body {
    background-color: khaki;
}

.dancer_params {
    width: 150px;
}

input[type=checkbox] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}
  
label {
    display: block;
}

.border_select{
    border: 4px dashed red;
}

.hover_select {
    border: 4px solid blue;
}

.table_row_select {
    border: 4px solid yellow;
}